<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnGEhjJSbe4SPALXTtI_4Egpy-mi_bmYo</string>
	<key>GCM_SENDER_ID</key>
	<string>634737746995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesse.peteapp</string>
	<key>PROJECT_ID</key>
	<string>pete-s-word-wardrobe</string>
	<key>STORAGE_BUCKET</key>
	<string>pete-s-word-wardrobe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634737746995:ios:6d59fbc83948dfcbea2f46</string>
</dict>
</plist>